/*========== vars ==========*/

:root{
    /*========== Colors ==========*/
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
    --purple: #AD28EB;

    /*========== Font weights ==========*/
    --normal-weight: 400;
    --medium-weight: 600;
    --bold-weight: 700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
/*========== Repeat code ==========*/

.card-head .card-title,
.faq-question__title{
    color: var(--dark-purple);
}
.faq-answer{
    color: var(--grayish-purple);
}
.faq-content{
    margin-bottom: 1.7rem;
}
.faq-content::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--light-pink);
    margin-top: 1.5rem;
}
/*========== Body ==========*/
body{
    background-color: var(--light-pink);
    font-weight: var(--normal-weight);
}
body p{
    line-height: 1.4;
}
/*========== Main ==========*/
.main-container{
    width: 100%;
    height: 100dvh;
}
.main-container figure .banner-img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
/*========== Card ==========*/
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.card-content{
    max-width: 375px;
    top: 150px;
    padding: 2rem;
    position: absolute;
    background-color: var(--white);
    border-radius: .7rem;
}
.card-head{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.card-head img{
    width: 30px;
    height: 30px;
    margin-right: 1.5rem;
}
.card-head .card-title{
    font-size: 2.2rem;
}

/*========== FAQ ==========*/
.faq-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
}
.faq-question__title{
    font-size: 1.2rem;
}
.faq-question__title:hover{
    color: var(--purple);
}
.faq-answer {
    margin-top: 0rem;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    height: 0;
}
.faq-item.active .faq-answer {
    transform: scaleY(1);
    opacity: 1;
    height: auto;
    margin-top: 1rem;
}
.faq-content:last-of-type::after {
    background-color: transparent;
}
.faq-content:last-of-type{
    margin-bottom: -2rem;
}
.faq-question img {
    transition: opacity .2s ease;
}
/*========== Footer ==========*/
.footer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
}
.footer p{
    color: var(--dark-purple);
}
.footer a{
    color: var(--grayish-purple);
    text-decoration: none;
}
.footer a:hover{
    color: var(--purple);
}
/*========== Responsive ==========*/

/*========== Desktop ==========*/
@media (min-width: 1440px){
    .main-container .banner-img{
        content: url('./assets/images/background-pattern-desktop.svg');
        height: 340px;
    }
    .card-content{
        max-width: 600px;
    }

}